.card {
    position: relative; /* Define o elemento pai como relativo para permitir posicionamento absoluto do botão */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
    overflow: hidden; /* Garante que o botão posicionado absolutamente não ultrapasse os limites do card */
}

.card img {
    border-radius: 8px 8px 0 0;
    width: 250px;
    height: 200px;
}

.card button {
    height: 10%;
    position: absolute; /* Define o botão como posicionado absolutamente */
    top: 8px; /* Distância do topo do elemento pai */
    right: 8px; /* Distância da direita do elemento pai */
    border: none;
    background-color: transparent;
    background-image: url('../../assets/image/editar.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Adiciona uma transição suave para a cor de fundo */
    
}

.card button:hover {
    background-color: #000000;
    border-radius: 70%;
}


